@using ViewComponentSamples.Models

@model List<News>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-action="Detail" asp-route-Id="@item.Id">
                @item.Title
            </a>
            <p>@item.Description</p>
        </li>
    }
</ul>