@model CreateRoleViewModel
<h3>Create User</h3>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All">
    </div>
    <div>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <button class="btn btn-success">Create</button>
        <a asp-action="List" class="btn btn-secondary">Return</a>
    </div>
</form>