@model Product
<table class="table table-striped table-info ">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Category Id</td>
        <td>@Model.Category.Id</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>@Model.Category.Name</td>
    </tr>
</table>