@model Product


@*<form asp-controller="Products" asp-action="Save" method="post">*@
<form asp-controller="Products" asp-action="SaveManual" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input type="text" asp-for="Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Category.Id"></label>
        <input type="text" asp-for="Category.Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Category.Name"></label>
        <input type="text" asp-for="Category.Name" class="form-control"/>
    </div>

    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>
<hr />

@*<form asp-controller="Products" asp-action="SaveCategory" method="post">    
    <div class="form-group">
        <label asp-for="Category.Id"></label>
        <input type="text" asp-for="Category.AAA.Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Category.Name"></label>
        <input type="text" asp-for="Category.AAA.Name" class="form-control"/>
    </div>

    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>*@