@model List<CourseStore.DAL.Entities.Course>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var course in Model)
{
    <di>
        <img src="@course.ImageUrl">
        <h4>
            @course.Title
        </h4>
        <p>
            @course.ShortDescription
        </p>
    </di>
}

