<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
     @RenderSection("BeforHeader",false)

    <div>Header</div>
    <div>
        @if(IsSectionDefined("BeforBody"))
        {
            RenderSection("BeforBody");
        }

        @RenderBody()
    </div>
    <div>Footer</div>

    @RenderSection("AfterFooter",false)
</body>
</html>
