<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        @*<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>*@
        <img width="40" height="32" src="/images/preview-xl.jpg" />

        <span class="fs-4">Food Recipes</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item"><a href="/add-recipe" class="nav-link" aria-current="page">Add Recipe</a></li>

            </Authorized>

        </AuthorizeView>
    </ul>
</header>
@code {

}
