

<form asp-controller="Home" asp-action="Collection" method="post">
    <div>
        <input type="text" name="Data[2]" class="form-control" />

    </div>
    <div>
        <input type="text" name="Data[0]" class="form-control" />

    </div>
    <div>
        <input type="text" name="Data[1]" class="form-control" />
    </div>
    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>