@model List<Person>

<table>
    <tr>
        <td>
            Id
        </td>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        </tr>
    }
</table>