@page
@model StudentsClient.WebUI.Pages.Students.CrearteModel
@{
}
<form enctype="multipart/form-data" method="post">
    <div class="m-1">
        <input type="file" asp-for="@Model.StudentsFile" class="form-control" />
    </div>
    <div class="m-1">
        <input type="submit" value="Upload Students" class="btn btn-success"/>
    </div>
</form>