@page
@model AAASamples.Pages.Account.AccessDeniedModel
@{
}
<h2 class="text-danger">Access Denied</h2>
<a class="btn btn-success" href="/Account/Logout">Logout</a>
<a class="btn btn-success" href="/">Home</a>