@page
@model AAASamples.Pages.Account.UserInfoModel
@{
}
@if (User.Identity.IsAuthenticated)
{
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                @User.Identity.Name
            </td>

        </tr>
        @foreach (var item in User.Claims)
        {
            <tr>
                <td>
                    @item.Type
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>Is Not authenticated</h1>
}