@page
@model ModelBindingSamples.Pages.ProductPageModel
@{
}


<form asp-page="ProductPage"  method="post">
    <div class="form-group">
        <label asp-for="Product.Id"></label>
        <input type="text" asp-for="Product.Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input type="text" asp-for="Product.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Product.Category.Id"></label>
        <input type="text" asp-for="Product.Category.Id" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Product.Category.Name"></label>
        <input type="text" asp-for="Product.Category.Name" class="form-control"/>
    </div>

    <div>
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>