@page "{count:int?}"
@model ControllersWithViewSamples.Pages.IndexModel
@{
}

<div>
    <h1>Hello Razor Page</h1>
</div>

<table>
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        
    </tr>
    @foreach (var person in Model.People)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
        </tr>
    }
    <tr>
        <td colspan="3">
            @Model.GetDateTimeAsString()
        </td>
    </tr>
</table>