@model PagedData<Product>
<h1>Wellcome to ASP.NET Core 06</h1>

@foreach (var item in Model.Data)
{
    @Html.Partial("ProductSummary",item)
}
<div page-model="Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="" page-class-selected="btn-success"></div>
