@inject NavigationManager NavMan
@inject SignOutSessionStateManager sessionMan
<AuthorizeView>
    <Authorized>
        <li>
            Hello @context.User.Identity.Name
            <a href="#" @onclick="logout">Logout</a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item"><a href="authentication/login" class="nav-link" aria-current="page">Login</a></li>
    </NotAuthorized>
</AuthorizeView>
@code {
    private async Task logout(MouseEventArgs args)
    {
        await sessionMan.SetSignOutState();
        NavMan.NavigateTo("authentication/logout");
    }
}
