@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<table aro-bg-color="warning">
    <tr>
        <td>
            Home Page in ASP.NET Core MVC
        </td>
    </tr>
</table>
*@

@*<div aro-alert-color="warning">
    This is Alert Content
</div>*@

@*<p aro-text-bg-color="text-bg-secondary">Sample Test</p>


<p aro-text-bg-color="text-bg-secondary">Sample Test</p>

<span aro-text-bg-color="text-bg-danger">Sample Span</span>

<p>Sample Simple</p>*@

@*<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<Alert aro-allert-header-text="My Header Text">Allert Text</Alert>*@

@*<ViewContextData></ViewContextData>*@

@*<table>
    <tr cell-text="Sample Text">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
*@


  <PreventRender allow-render="false">

      <h1>Text With false Value</h1>
  </PreventRender> 
  
  
  <PreventRender allow-render="true">
      <h1>
          Text With True Value
      </h1>
  </PreventRender>