
@*@inherits MyBasePage*@
@attribute  [TestSample]
@inject IRepository repo

@model List<Person>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- HTML comment -->
    @*<title></title>*@
</head>
<body>
    <div>
        <table>
            <tr>
                <td>ID</td>
                <td>First Name</td>
                <td>Last Name</td>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>



