
@*@inherits MyBasePage*@
@attribute  [TestSample]
@inject IRepository repo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
   <h1>
       @ViewBag.Title
   </h1>
</body>
</html>



